# Mac OS
.DS*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Modules
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional private notes directory
_notes/.ignored/

# Yarn Integrity file
.yarn-integrity

# parcel outputs (https://parceljs.org/)
*parcel-cache
.cache
publish/module

# tap testing
coverage/
.nyc*

# flow output
dist/
flow-typed/stubs/*
